

@font-face {
	font-family: 'icomoon';
	font-weight: normal;
	font-style: normal;

	/*icon_men*/
	src:  url('fonts_menu/icomoon.eot?b89p5a');
    src:  url('fonts_menu/icomoon.eot?b89p5a#iefix') format('embedded-opentype'),
    url('fonts_menu/icomoon.ttf?b89p5a') format('truetype'),
    url('fonts_menu/icomoon.woff?b89p5a') format('woff'),
    url('fonts_menu/icomoon.svg?b89p5a#icomoon') format('svg');
  
}


/*icon_men style*/
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-autor-01:before {
  content: "\e901";
}
.icon-inicio-01:before {
  content: "\e902";
}
.icon-portafolio-01:before {
  content: "\e903";
}
.icon-preferidos:before {
  content: "\e904";
}
.icon-actividades-01:before {
  content: "\e900";
}

.fs1 {
  font-size: 26px;
}
/*end icon_men style*/


@media screen and (max-width: 1310px){
	


}

@media screen and (max-width: 1050px){
	

}

@media screen and (max-width: 935px){

}

@media screen and (max-width: 880px){

}

@media screen and (max-width: 740px){

}

@media screen and (max-width: 650px){
	
	}

.texto-encima{

position: absolute;
top: 80%;
left: 10px;
}
}

@media screen and (max-width: 450px){
	

.texto-encima{

position: absolute;
top: 80%;
left: 10px;
}


}


.texto-encima{

position: absolute;
top: 102%;
left: 10px;
}

.tittles h2{

position: absolute;
top: 0;
color: #fad638;
font-size: 40px;


}


